.add-form {
    margin-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.important {
    color: steelblue;
    font-weight: bold;
}

.input-add {
    margin: 0 5px;
}

.main {
    margin: 50px auto;
}

.right {
    float: right;
}

.search-panel {
    margin-bottom: 10px;
}